@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Onest", sans-serif;
}

body {
    font-family: "Onest", sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;

}


@font-face {
    font-family: 'gilmer';
    src: url('./gilmer.otf') format('opentype');
}





.header_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C28103;
    padding: 0 7%;
    padding-block: 10px;
}

.motto span {
    color: #C28103;
    padding-right: 15px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
}

.motto p {
    color: #fff;
    font-family: "Sora", sans-serif;
   
}

.navbar_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 7%;
    position: sticky;
    top: 0;
    z-index: 454;
    padding-block: 5px;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
    height: 95px;
    width: 150px;
    background-image: url(../images/logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.nav_links a {
    padding: 15px;
    color: #000;
    /* text-transform: uppercase; */
}

.nav_links a:hover {
    color: #C28103;
}

.mobile a {
    color: #000;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #C28103;
    min-width: 250px;
    z-index: 701;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;

}
.social_media{
    display: flex;
    align-items: center;
    gap: 10px;
}
.social_media a {
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;
    font-size: 20px;
    background-color: #C28103;
    color: #fff;
}



#toggleButton {
    display: none;
    background-color: #C28103;
}

.mobile {
    display: none;
}

.forms {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.forms input {
    height: 44px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding-left: 3%;
}
.forms select{
    height: 44px;
    height: 44px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
}

.forms input:focus{
    outline: none;
}

.forms select:focus{
    outline: none;
}
.forms button {
    height: 44px;
    width: 100%;
    border: none;
    background-color: #C28103;
    color: #fff;
}

.add_gallery {
    padding: 0 25%;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


.footer_all{
background-color: #C28103;
padding: 0 10%;
padding-block: 30px;
margin-top: 50px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.ft_one {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.ft_one a{
    color: #fff;
    display: flex;
    margin-top: 10px;
}

.media {
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.media a{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

.logos{
    height: 155px;
    width: 150px;
    background-image: url(../images/logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

.copyright{
    text-align: center;
    padding-block: 15px;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}
 th,
 td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

 th {
    background-color: #C28103;
    color: #fff;
}

.logo_name {
    padding-block: 25px;
    /* border: 2px dashed #336aea; */
    text-align: center;
    margin-top: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .logo_name span {
    color: #C28103;
  }
  .logout {
    border: 2px solid #C28103;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #C28103;
    color: #fff;
    position: absolute;
    bottom: 30px;
  }
  
  .links i {
    color: #C28103;
    padding-right: 3%;
  }
  
  .links a.active {
    color: #C28103;
  }
  
  .sidebar {
    height: 100vh;
    background-color: #fff;
    width: 280px;
    padding: 0 30px;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      z-index: 850;
  }
  
  .sidebar.hidden {
    transform: translateX(0);
  }
  
  .links {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 35px;
    overflow-y: auto;
    height: 60vh;
    scrollbar-width: thin;
    scrollbar-color: #C28103 #ecf0f1;
  }
  
  /* For Chrome, Edge, and Safari */
  .links::-webkit-scrollbar {
    width: 8px;
  }
  
  .links::-webkit-scrollbar-track {
    background: #ecf0f1; /* Light gray track */
    border-radius: 10px; /* Rounded track */
  }
  
  .links::-webkit-scrollbar-thumb {
    background-color: #C28103; /* Green thumb */
    border-radius: 10px; /* Rounded thumb */
    border: 2px solid #ecf0f1; /* Adds padding effect */
  }
  
  .links::-webkit-scrollbar-thumb:hover {
    background-color: #C28103; /* Darker green on hover */
  }
  
  .links a {
    padding-block: 10px;
    color: #000;
  }
  
  .dashed {
    border-top: 2px dashed #C28103;
  }
  
  .toggle_btn {
    position: fixed;
    top: 0px;
    left: 0;
    font-size: 20px;
    cursor: pointer;
    background-color: #C28103;
    color: #ecf0f1;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 851;
  
    transition: left 0.7s ease-in-out;
  }
  .toggle_btn.collapsed {
    left: 252px;
  }
  

@media only screen and (max-width: 1110px) {
    #toggleButton {
        display: block;
        background-color: #C28103;
        background-color: transparent;
        border: none;
        padding: 15px;
        color: #fff;

    }

    #toggleButton i {
        font-weight: 900;
        font-size: 20px;
        color: #C28103;
    }

    .nav_links {
        display: none;
    }

    .mobile {
        position: absolute;
        top: 106px;
        z-index: 4554;
        left: 0;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .mobile a {
        border-top: 2px solid #534f4f2a;
        width: 100%;
        padding: 0 10%;
        padding-block: 20px;
    }


    .dropdown {
        border-top: 2px solid #534f4f2a;
        width: 100%;
        padding-block: 20px;
    }

    .dropdown-content {
        margin-left: 10%;
    }

    .dropdown-content a:hover {
        color: #C28103;
    }


    .footer_all{
        display: grid;
        grid-template-columns: 1fr ;
    }
    .ft_one{
        margin-bottom: 30px;
    }

    .media{
        display: flex;
        flex-direction: column;
    }
  

}

